<!doctype html>
<html lang="en">
  <head>
    <title>Graph</title>
  </head>
  <body>

    <div>
        <canvas id="myChart"></canvas>
    </div>
      
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- Currents data_1 is {product_name: {date: vol...}} -->

    {{ labels|json_script:"graph_labels" }}
    {{ datasets|json_script:"datasets" }}

    <script>
    const ctx = document.getElementById('myChart');
    const dates = JSON.parse(document.getElementById('graph_labels').textContent);
    const product_datasets = JSON.parse(document.getElementById('datasets').textContent);
    const cfg = {
    type: 'line',
    data: {

      // x axis labels
      labels: dates,

      // datasets to be plotted.
      datasets: product_datasets

      // data object has a label and an array 

      // {
      //   label: '',
      //   data: []
      // }


    },
    };

    new Chart(ctx, cfg);
    </script>
    
  </body>
</html>
 