{% extends "base_generic.html" %}

{% block content %}

    <form action="" method="post">
        {% csrf_token %}

        <label for="start_date">Start Date:</label>
        <input type="date" id="start_date" name="start_date"><br>
        <label for="end_date">End Date:</label>
        <input type="date" id="end_date" name="end_date"><br>

        {% for product in product_list %}
            <label for="{{product.product_name}}">{{product.product_name}}</label>
            <input type="checkbox" id="{{product.product_name}}" name="{{product.product_name}}">
        {% endfor %}

        <br><input type="submit" value="그래프 그리기!">

    </form>

{% endblock %}