{% extends "base_generic.html" %}

{% block content %}
    <h1>제품재고</h1>

    {% if product_list %}

        <table>
            <tr>
                <th class="product_header">고겍사</th>
                <th class="product_header">모델</th>
                <th class="product_header">품변</th>
                <th class="product_header">품명</th>
                <th class="product_header">사출톤</th>
                <th class="product_header">자재</th>
                <th class="product_header">Cavity</th>
                <th class="product_header">C/T</th>
                <!-- <th class="product_header">주간생산량</th> -->
                <!-- <th class="product_header">야간생산량</th> -->
                <!-- <th class="product_header">실중량</th> -->
                <th class="product_header">중량</th>
            </tr>
            
            {% for product in product_list %}
                <tr>
                    <th class="resin_client_row">{{ product.client_name }}</th>
                    <th class="resin_client_row">{{ product.model }}</th>
                    <th class="resin_client_row">{{ product.product_code }}</th>
                    <th class="resin_client_row">{{ product.product_name }}</th>
                    <th class="resin_client_row">{{ product.machine_tonnage }}</th>
                    <th class="resin_client_row">{{ product.resin }}</th>
                    <th class="resin_client_row">{{ product.cavity }}</th>
                    <th class="resin_client_row">{{ product.ct }}</th>
                    <!-- <th>{{ product.day_produce }}</th> -->
                    <!-- <th>{{ product.night_produce }}</th> -->
                    <!-- <th>{{ product.real_weight }}</th> -->
                    <th class="resin_client_row">{{ product.weight }}</th>
                </tr>
            {% endfor %}
        </table>
    
    {% else %}

        <p>No products found.</p>
    
    {% endif %}

{% endblock %}

