{% extends "base_generic.html" %}

{% block content %}
  <h1>자재재고</h1>
  {% if resin_list %}

  <table>

    <tr>
      <th class="header">품명</th>
      <th class="header">구분</th>
      <th class="header">고객사</th>
      <th class="header">재품</th>
    </tr>
    
    {% for resin in resin_list %}
      <tr >
        <th class="resin_row">{{resin.resin_name}}</th>
        <th class="resin_material_row">{{resin.material_type}}</th>
        <th class="resin_client_row">{{resin.client_name}}</th>
        <th class="resin_row">{{resin.get_stringed_product_list}}</th>
      </tr>
  
    {% endfor %}

  </table>

  {% else %}
    <p>There are no resins in the library.</p>
  {% endif %}
{% endblock %}
