{% extends "base_generic.html" %}

{% block content %}
  <h1>희진 플레스틱의 새로운 웹사이트에 환영합니다!!!</h1><br>
  <h1>공장현황:</h1><br>

  <strong>사출기 1번: </strong>

  {% if machine_1 %}

    <ul>
      {% for order in machine_1 %}
      <li><strong>{{order.product}}</strong></li>
      {% endfor %}
    </ul>
  
  {% else %}
    <p>스케줄 없습니다.</p>
  
  {% endif %}

  <strong>사출기 2번: </strong>

  {% if machine_2 %}
    <ul>
      {% for order in machine_2 %}
      <li><strong>{{order.product}}</strong></li>
      {% endfor %}
    </ul>
  
  {% else %}
    <p>스케줄 없습니다.</p>
  
  {% endif %}

  <strong>사출기 3번: </strong>

  {% if machine_3 %}
    <ul>
      {% for order in machine_3 %}
      <li><strong>{{order.product}}</strong></li>
      {% endfor %}
    </ul>
  
  {% else %}
    <p>스케줄 없습니다.</p>
  
  {% endif %}

  <strong>사출기 4번: </strong>
  {% if machine_4 %}

    <ul>
      {% for order in machine_4 %}
      <li><strong>{{order.product}}</strong></li>
      {% endfor %}
    </ul>
  
  {% else %}
    <p>스케줄 없습니다.</p>
  
  {% endif %}

  <strong>사출기 5번: </strong>

  {% if machine_5 %}
    <ul>
      {% for order in machine_5 %}
      <li><strong>{{order.product}}</strong></li>
      {% endfor %}
    </ul>
  
  {% else %}
    <p>스케줄 없습니다.</p>
  
  {% endif %}

  <strong>사출기 6번: </strong>

  {% if machine_6 %}
    <ul>
      {% for order in machine_6 %}
      <li><strong>{{order.product}}</strong></li>
      {% endfor %}
    </ul>
  
  {% else %}
    <p>스케줄 없습니다.</p>
  
  {% endif %}

{% endblock %}