{% extends "base_generic.html" %}

{% block content %}
    <h1>Product: {{ product.product_name }}</h1>
    <p><strong> 자재:</strong> {{ product.resin}}</p>
    <p><strong> 품변:</strong> {{ product.product_code }}</p>
    <p><strong> 모델:</strong> {{ product.model }}</p>
    <p><strong> 사출톤:</strong> {{ product.machine_tonnage }}</p>
    <p><strong> 자재:</strong> {{ product.resin }}</p>
    <p><strong> Cavity:</strong> {{ product.cavity }}</p>
    <p><strong> Cycle Time:</strong> {{ product.ct }}</p>
    <p><strong> 주간 생산량:</strong> {{ product.week_produce }}</p>
    <p><strong> 야간 생산량:</strong> {{ product.night_produce}}</p>
    <p><strong> 실중량:</strong> {{ product.real_weight}}</p>
    <p><strong> 중량:</strong> {{ product.weight}}</p>

{% endblock %}

